@import "tailwindcss";

:root {
  --background: #000126;
  --background: linear-gradient(36deg, rgb(5, 60, 95, 1) -50%, rgba(0, 1, 38, 1) 50%, rgb(90, 5, 100) 130%);
  --foreground: #fff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000126;
    --background: linear-gradient(36deg, rgb(5, 60, 95, 1) -30%, rgba(0, 1, 38, 1) 50%, rgb(90, 5, 100) 130%);
    --foreground: #fff;
  }
}

body {
  min-height: 100vh;
  background: var(--background);
  color: var(--foreground);
  font-family: Helvetica, Arial, sans-serif;
}